
.item-carousel {
    height: 500px;
    background-position: bottom;
    background-size: cover;
}


.foam-1 {
    background-image: url(product/foam1.png);
}

.foam-2 {
    background-image: url(product/foam2.png);
}

.foam-3 {
    background-image: url(product/foam3.jpg);
}

.cleanse-1 {
    background-image: url(product/clenser1.jpg);
}

.cleanse-2 {
    background-image: url(product/clenser.jpg);
}

.cleanse-3 {
    background-image: url(product/cleanser3.png);
}

.moiz-1 {
    background-image: url(product/moiz1.png);
}

.moiz-2 {
    background-image: url(product/moiz2.png);
}

.moiz-3 {
    background-image: url(product/);
}

.kit-1 {
    background-image: url(product/kit5.jpg);
}

.kit-2 {
    background-image: url(product/kit2.jpg);
}

.kit-3 {
    background-image: url(product/kit3.jpg);
}

.pink-2 {
    background-image: url(assets/images/ITEMS/pink-rug-2.jpg);
}

.abstract-1 {
    background-image: url(assets/images/ITEMS/abstract-rug.jpg);
}

.abstract-2 {
    background-image: url(assets/images/ITEMS/abstract-rug-2.jpg);
}

.abstract-3 {
    background-image: url(assets/images/ITEMS/abstract-rug-3.jpg);
}